<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        
        .completed-task {
            text-decoration: line-through;
            color: #888;
        }

        .completed-marker::before {
            content: '\2713';
            color: #008000;
            font-weight: bold;
            margin-right: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Task List</h2>
        <ul>
            {% for task in tasks %}
                <li {% if task.completed %}class="completed-task"{% endif %}>
                    {% if task.completed %}
                        <span class="completed-marker"></span>
                    {% endif %}
                    {{ task.title }} - {{ task.description }}
                    <a href="{% url 'update_task' task.id %}">Edit</a>
                    <a href="{% url 'delete_task' task.id %}">Delete</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'add_task' %}">Add Task</a>
    </div>
</body>
</html>
